:root {
	--gradient: linear-gradient(
		135deg,
		hsl(192, 100%, 67%) 0,
		hsl(280, 87%, 65%) 100%
	);

	--primary: #3a7cfd;

	--rounded: 5px;
	--round: 50%;
	--full-width: 100%;
	--full-height: 100%;
	--transition: 0.3s ease;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.6rem;
	position: relative;
	font-weight: 400;
}

@media only screen and (min-width: 34.375em) {
	body {
		font-size: 1.8rem;
	}
}

li {
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
}

button {
	font-family: inherit;
}

#root {
	height: var(--full-height);
}
